server:
  port: 2001
spring:
  application:
    name: purchaseService
  devtools:
    restart:
      enabled: true

eureka:
  client:
    service-url:
      defaultZone: http://eureka-server.com:8080/eureka/,http://eureka-server2.com:8081/eureka/
    fetch-registry: true
    register-with-eureka: true
